<div class="container">
    <div class="heading">
        <h2 class="h1">PRE-REGISTRATION</h2>
        <div class="heading_icon_group">
            <button class="icon_button"><i class="fa-regular fa-bell "></i></button>
            <button class="icon_button"><i class="fa-regular fa-user"></i></button>
        </div>
    </div>
    <!--stepper starts here-->
    <div class="stepper-wrapper">
        <mat-horizontal-stepper [linear]="false" #stepper>
            <!-- Step 1 -->
            <mat-step [stepControl]="firstStepperForm">
                <form [formGroup]="firstStepperForm">
                    <ng-template matStepLabel>Visitor Form</ng-template>

                    <!-- Your entire original form goes here -->

                    <!-- ... Keep everything you sent me unchanged ... -->

                    <!-- Just update the final buttons -->

                    <div class="wrapper">
                        <div class="card">
                            <div class="form_card">


                                <h3>Host Details</h3>

                                <div class="input_card">
                                    <label for="organization">Organization</label>
                                    <select id="organization" name="organization" class="bottom_border">
                                        <option value="abc">abc corporation</option>
                                        <option value="xyz">xyz corporation</option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="hostuser">Host User</label>
                                    <select id="hostuser" name="hostuser" class="bottom_border">
                                        <option value="johndoe">John Doe</option>
                                        <option value="joesmith">Joe Smith</option>
                                    </select>
                                </div>

                                <h3>Visitor Details</h3>

                                <div class="input_card">
                                    <label for="visitorId">Visitor ID</label>
                                    <input formControlName="visitorId" class="bottom_border" type="text" id="visitorId"
                                        name="visitorId" placeholder="Enter visitor id" required>
                                </div>

                                <div class="input_card">
                                    <label for="VisitorName">Visitor Name</label>
                                    <input formControlName="visitorName" class="bottom_border" type="text"
                                        id="visitorName" name="visitorName" placeholder="Enter visitor name" required>
                                </div>

                                <div class="input_card">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input class="bottom_border" type="text" formControlName="visitorNumber"
                                        name="visitorNumber" placeholder="Enter mobile number" required>
                                </div>

                                <div class="input_card">
                                    <label for="email">Email</label>
                                    <input class="bottom_border" type="email" formControlName="email"
                                        placeholder="Enter your email" required>
                                </div>

                                <div class="input_card">
                                    <label for="gender">Gender</label>
                                    <select id="gender" formControlName="gender" class="bottom_border">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="Organization">Organization</label>
                                    <input class="bottom_border" type="text" FormControlName="organizaiton"
                                        placeholder="Organization details" required>
                                </div>

                                <div class="input_card">
                                    <label for="Description">Description</label>
                                    <input class="bottom_border" type="text" formControlName="designation"
                                        placeholder="Enter description" required>
                                </div>

                                <div class="input_card">
                                    <label for="Address">Address</label>
                                    <input class="bottom_border" type="text" formControlName="address"
                                        placeholder="Enter Address" required>
                                </div>

                                <div class="input_card">
                                    <label for="City">City</label>
                                    <input class="bottom_border" type="text" formControlName="city"
                                        placeholder="Enter city" required>
                                </div>

                                <div class="input_card">
                                    <label for="state">State</label>
                                    <select id="state" formControlName="state" class="bottom_border">
                                        <option value="kerala">Kerala</option>
                                        <option value="karnataka">Karnataka</option>
                                        <option value="tamilnadu">Tamilnadu</option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="country">Country</label>
                                    <select id="country" formControlName="country" class="bottom_border">
                                        <option value="india">India</option>
                                        <option value="china">China</option>
                                        <option value="japan">Japan</option>
                                    </select>
                                </div>


                                <div class="input_card">
                                    <label for="nationality">Nationality</label>
                                    <select id="nationality" formControlName="nationality" class="bottom_border">
                                        <option value="indian">Indian</option>
                                        <option value="chinese">Chinese </option>
                                        <option value="japanese">Japanese</option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="visitorIdProofType">Visitor ID Proof Type</label>
                                    <select id="visitorIdProofType" formControlName="visitorIdProofType"
                                        class="bottom_border">
                                        <option value="nationalId">National ID </option>
                                        <option value="internationalId">International ID </option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="visitorIdProofNo">Visitor ID Proof No. </label>
                                    <input formControlName="visitorIdProofNo" type="text" placeholder=" Enter id no."
                                        class="bottom_border">
                                </div>

                                <div class="input_card">
                                    <label for="VisitorType">Visitor Type</label>
                                    <select id="visitorType" formControlName="visitorType" class="bottom_border">
                                        <option value="businessGuest">Business Guest </option>
                                        <option value="businessClient">Business Client</option>
                                    </select>
                                </div>
                                <div class="input_card">
                                    <label for="hostDetails">Host Details</label>
                                    <select id="hostDetails" formControlName="hostDetails" class="bottom_border">
                                        <option value="bigil">Bigil</option>
                                        <option value="sulu">Sulu</option>
                                        <option value="dennies">Dennies</option>
                                    </select>
                                </div>


                                <div class="upload_input_card">
                                    <div class="upload_card">
                                        <input type="file" #fileInput (change)="handleFile($event)"
                                            accept=".pdf,.doc,.docx" hidden />

                                        <button type="submit" class="upload_button" (click)="fileInput.click()"> <i
                                                class="fa-solid fa-cloud-arrow-up" style="color: #63E6BE;"></i>
                                            Upload ID Doc</button>
                                        <div *ngIf="fileName" class="upload_card">
                                            {{fileName}}
                                        </div>
                                    </div>
                                </div>

                                <h3>Vehicle Details</h3><br>

                                <div class="input_card">
                                    <label for="vehileRegistrationNo">Vehicle Registration No.</label>
                                    <input class="bottom_border" type="text" formControlName="vehicleRegistrationNo"
                                        name="vehicleRegistrationNo" placeholder="Enter Vehicle No." required>
                                </div>
                                <div class="input_card">
                                    <label for="vehicleType">Vehicle Type</label>
                                    <select id="vehicleType" formControlName="vehicleType" class="bottom_border">
                                        <option value="bike">Bike</option>
                                        <option value="car">Car</option>
                                        <option value="bus">Bus</option>
                                    </select>
                                </div>

                                <div class="input_card">
                                    <label for="description">Description</label>
                                    <input class="bottom_border" type="text" formControlName="vehicleDescription"
                                        name="description" placeholder="Enter Description" required>
                                </div>



                            </div>
                            <div class="image_card">
                                <div class="image_wrapper">
                                    <img src="https://4kwallpapers.com/images/wallpapers/cristiano-ronaldo-2560x2560-9655.jpg"
                                        alt="myPhoto">

                                </div>
                                <button type="submit" class="button icon_button"> <i
                                        class="fa-solid fa-pen-to-square"></i></button>
                                <button type="submit" class="button icon_button"> <i
                                        class="fa-solid fa-trash-can"></i></button>

                            </div>
                        </div>
                        <!--visitor companion-->
                        <div class="companion_wrapper">
                            <div class="companion">
                                <h3>Visitor Companion</h3>

                                <!--Hidden input boxes-->


                                <button (click)="onAddClick()" type="submit" class="add_cmpn_btn"><i
                                        class="fa-solid fa-plus fa-xl" style="color: #000000;"></i></button>

                                <!--Adding visitor companion-->
                            </div>

                            <div *ngFor="let group of inputGroups; let i = index" class="input_group">
                                <h4>Companion {{i+1}}</h4>
                                <input type="text" class="cmpn_input_card" placeholder="Name" />
                                <input type="email" class="cmpn_input_card" placeholder="Email" />
                                <input type="text" class="cmpn_input_card" placeholder="Mobile Number" />
                                <select id="gender" name="gender" class="cmpn_input_card">
                                    <option value="" disbled selected>gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <button (click)="onDeleteClick(i)" class="cmpn-delete-btn"><i
                                        class="fa-solid fa-trash-can" style="color: #fe2020;"></i></button>
                            </div>
                        </div>
                        <!--lastbutton div-->

                        <div class="last_button_div">
                            <button class="last_button" color="primary" (click)="goToNextStep()">Save &
                                Continue</button>
                            <button class="last_button" color="warn" type="reset">Discard</button>
                        </div>
                    </div>
                </form>
            </mat-step>

            <!-- Step 2: Placeholder for future -->
            <mat-step [stepControl]="secondStepperForm">
                <form [formGroup]="secondStepperForm">
                    <ng-template matStepLabel>Visit Details</ng-template>


                    <div class="second-form">
                        <h3 class="h3">Visit Details</h3>

                        <div class="vdcontainer ">

                            <div class="vdcard">
                                <label for="visitStartDate">visit start date</label>
                                <input type="date" class="bottom-border">
                            </div>

                            <div class="vdcard">
                                <label for="visitStartTime">visit start time</label>
                                <input type="time" class="bottom-border">
                            </div>

                            <div class="vdcard">
                                <label for="visitEndDate">visit end date</label>
                                <input type="date" class="bottom-border">
                            </div>

                            <div class="vdcard">
                                <label for="visitEndTime">visit end time</label>
                                <input type="time" class="bottom-border">
                            </div>

                            <div class="vdcard">
                                <label for="repeatSchedule">Repeat schedule</label>
                                <select id="repeatSchedule" class="bottom-border" (change)="onRepeatChange($event)">
                                    <option value="">-- Select --</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekday">Every Weekday (Mon-Fri)</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>

                            <dialog id="recurrenceDialog" class="recurrence-modal">
                                <h3 >Set Recurrence</h3>

                                <div class="modal-body">
                                    <div class="field">
                                        <label for="start">Start Date</label>
                                        <input type="date" [(ngModel)]="startDate" id="start" />
                                    </div>

                                    <div class="field">
                                        <label for="end">End Date</label>
                                        <input type="date" [(ngModel)]="endDate" id="end" />
                                    </div>
                                </div>

                                <div class="modal-actions">
                                    <button (click)="closeDialog()" class="butn-card cancel-btn">Cancel</button>
                                    <button (click)="saveDates()" class="butn-card save-btn">Save</button>
                                </div>
                            </dialog>



                            <div class="vdcard">
                                <label for="visitType">Visit Type</label>
                                <select id="visitType" class="bottom-border">
                                    <option value="meeting">Meeting</option>
                                    <option value="onlineMeeting">Online Meeting</option>
                                </select>
                            </div>
                            <div class="vdcard ">
                                <label for="visitPurpose">Purpose of Visit</label>
                                <select id="visitPurpose" class="bottom-border">
                                    <option value="clientDiscussion">Client Discussion</option>
                                    <option value="other">Other</option>


                                </select>
                            </div>

                            <div class="vdcard">
                                <label for="description">Description</label>
                                <input type="text" class="bottom-border">
                            </div>
                        </div>

                        <div class="butn-container">
                            <button class="butn-card" mat-button (click)="goToPreviousStep()">discard</button>
                            <button class="butn-card" mat-raised-button (click)="onSubmit()">submit</button>
                        </div>

                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
</div>