<div class="container">
  <div class="wrapper">
    <div class="heading">
      <h2 class="h1">PRE-REGISTRATION</h2>
      <div class="heading_icon_group">
        <button class="icon_button"><i class="fa-regular fa-bell "></i></button>
        <button class="icon_button"><i class="fa-regular fa-user"></i></button>
      </div>
    </div>

    <div class="card">
      <div class="form_card">
        <form action="/upload" method="POST" enctype="multipart/form-data">

          <h2>Host Details</h2>

          <div class="input_card">
            <label for="organization">Organization</label>
            <select id="organization" name="organization" class="bottom_border">
              <option value="abc">abc corporation</option>
              <option value="xyz">xyz corporation</option>
            </select>
          </div>

          <div class="input_card">
            <label for="hostuser">Host User</label>
            <select id="hostuser" name="hostuser" class="bottom_border">
              <option value="johndoe">John Doe</option>
              <option value="joesmith">Joe Smith</option>
            </select>
          </div>

          <h2>Visitor Details</h2>

          <div class="input_card">
            <label for="visitorId">Visitor ID</label>
            <input class="bottom_border" type="text" id="visitorId" name="visitorId" placeholder="Enter visitor id"
              required>
          </div>

          <div class="input_card">
            <label for="VisitorName">Visitor Name</label>
            <input class="bottom_border" type="text" id="visitorName" name="visitorName"
              placeholder="Enter visitor name" required>
          </div>

          <div class="input_card">
            <label for="mobileNumber">Mobile Number</label>
            <input class="bottom_border" type="text" id="visitorNumber" name="visitorNumber"
              placeholder="Enter mobile number" required>
          </div>

          <div class="input_card">
            <label for="email">Email</label>
            <input class="bottom_border" type="email" name="email" placeholder="Enter your email" required>
          </div>

          <div class="input_card">
            <label for="gender">Gender</label>
            <select id="gender" name="gender" class="bottom_border">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="input_card">
            <label for="Organization">Organization</label>
            <input class="bottom_border" type="text" name="organizaiton" placeholder="Organization details" required>
          </div>

          <div class="input_card">
            <label for="Description">Description</label>
            <input class="bottom_border" type="text" name="Designation" placeholder="Enter description" required>
          </div>

          <div class="input_card">
            <label for="Address">Address</label>
            <input class="bottom_border" type="text" name="Address" placeholder="Enter Address" required>
          </div>

          <div class="input_card">
            <label for="City">City</label>
            <input class="bottom_border" type="text" name="City" placeholder="Enter city" required>
          </div>

          <div class="input_card">
            <label for="state">State</label>
            <select id="state" name="state" class="bottom_border">
              <option value="kerala">Kerala</option>
              <option value="karnataka">Karnataka</option>
              <option value="tamilnadu">Tamilnadu</option>
            </select>
          </div>

          <div class="input_card">
            <label for="country">Country</label>
            <select id="country" name="country" class="bottom_border">
              <option value="india">India</option>
              <option value="china">China</option>
              <option value="japan">Japan</option>
            </select>
          </div>


          <div class="input_card">
            <label for="nationality">Nationality</label>
            <select id="nationality" name="nationality" class="bottom_border">
              <option value="indian">Indian</option>
              <option value="chinese">Chinese </option>
              <option value="japanese">Japanese</option>
            </select>
          </div>

          <div class="input_card">
            <label for="visitorIdProofType">Visitor ID Proof Type</label>
            <select id="visitorIdProofType" name="visitorIdProofType" class="bottom_border">
              <option value="nationalId">National ID </option>
              <option value="internationalId">International ID </option>
            </select>
          </div>

          <div class="input_card">
            <label for="visitorIdProofNo">Visitor ID Proof No. </label>
            <input type="text" placeholder=" Enter id no." class="bottom_border">
          </div>

          <div class="input_card">
            <label for="VisitorType">Visitor Type</label>
            <select id="visitorType" name="visitorType" class="bottom_border">
              <option value="businessGuest">Business Guest </option>
              <option value="businessClient">Business Client</option>
            </select>
          </div>

          <div class="input_card">
            <label for="hostProfile">Host Profile </label>
            <input type="text" placeholder=" Enter host profile" class="bottom_border">
          </div>

          <div class="upload_input_card">
            <div class="upload_card">
              <input type="file" #fileInput (change)="handleFile($event)" accept=".pdf,.doc,.docx" hidden />

              <button type="submit" class="upload_button" (click)="fileInput.click()"> <i
                  class="fa-solid fa-cloud-arrow-up" style="color: #63E6BE;"></i>
                Upload ID Doc</button>
              <div *ngIf="fileName" class="upload_card">
                {{fileName}}
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="image_card">
        <div class="image_wrapper">
          <img src="https://4kwallpapers.com/images/wallpapers/cristiano-ronaldo-2560x2560-9655.jpg" alt="myPhoto">

        </div>
        <button type="submit" class="button icon_button"> <i class="fa-solid fa-pen-to-square"></i></button>
        <button type="submit" class="button icon_button"> <i class="fa-solid fa-trash-can"></i></button>

      </div>
    </div>

  </div>

   <!--visitor companion-->
      <div class="companion">
        <h4>Visitor Companion</h4>

        <!--Hidden input boxes-->


        <button (click)="onAddClick()" type="submit" class="add_cmpn_btn"><i class="fa-solid fa-plus fa-xl"
            style="color: #000000;"></i></button>

            <!--Adding visitor companion-->

      <div *ngFor="let group of inputGroups; let i = index" class="input-group">
        <h4>Companion {{i+1}}</h4>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="text" placeholder="Mobile Number" />
        <input type="text" placeholder="Gender" />
      </div>
      </div>
      

    </div>
  