<!--<p>visit-details works!</p>
<div class="vdcontainer ">
    <div class="vdcard">
        <label for="visitStartDate">visit start date</label>
        <input type="date" class="bottom-border">
    </div>

    <div class="vdcard">
        <label for="visitStartTime">visit start time</label>
        <input type="time" class="bottom-border">
    </div>

    <div class="vdcard">
        <label for="visitEndDate">visit end date</label>
        <input type="date" class="bottom-border">
    </div>

    <div class="vdcard">
        <label for="visitEndTime">visit end time</label>
        <input type="time" class="bottom-border">
    </div>


<div class="vdcard">
    <label for="repeatSchedule">Repeat schedule</label>
    <select id="hostuser" name="hostuser" class="bottom-border">
        <option value="johndoe">Daily</option>
        <option value="joesmith">Every Weekday(Mon-Fri)</option>
        <option value="johndoe">Weekly</option>
        <option value="joesmith">Monthly</option>
        <option value="johndoe">Yearly</option>
        <option value="joesmith">Custom</option>
    </select>
</div>
<div class="vdcard">
    <label for="hostuser">Host User</label>
    <select id="hostuser" name="hostuser" class="bottom-border">
        <option value="johndoe">John Doe</option>
        <option value="joesmith">Joe Smith</option>
    </select>
</div>
<div class="vdcard ">
    <label for="hostuser">Host User</label>
    <select id="hostuser" name="hostuser" class="bottom-border">
        <option value="johndoe">John Doe</option>
        <option value="joesmith">Joe Smith</option>
    
        
    </select>
</div>
<div class="vdcard">
    <label for="hostuser" >Host User</label>
    <input type="text" class="bottom-border">
</div>
</div>
<div class="butn-container">


    <button class="butn-card">submit</button>
    <button class="butn-card">discard</button>

</div>
-->
